@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>@Model.Message</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>

            </span>

        </div>

    </div>
</form>
<div>
    <table class="table">

        <tr>

            <th>
                Restaurant
            </th>
               <th>
                Location
            </th>
               <th>
                Cuisine
            </th>
               <th>
                Actions
            </th>
        </tr>
    @foreach (var item in Model.Restaurants)
    {
         <tr>
        <td>
         @item.Name
        </td>
        
        <td>
            @item.Location
        </td>
        
        <td>
            @item.Cuisine
        </td>
        <td>
             <a   class="btn btn-lg" asp-page="./RDetail" asp-route-RestaurantId="@item.Id">  
              <i class="glyphicon glyphicon-zoom-in"></i> </a>
              <a   class="btn btn-lg" asp-page="./Edit" asp-route-RestaurantId="@item.Id">  
              <i class="glyphicon glyphicon-pencil"></i> </a>
        </td>
   
        
        </tr>
    }
    
    </table>

    <p>hello from @Model.MessageConfig</p>

</div>

