@page "{RestaurantId:int?}"
@model OdeToFood.Pages.Restaurants.RDetailModel
@{
}



<h2>@Model.Restaurant.Name</h2>

<div>Id: @Model.Restaurant.Id</div>
<div>Location: @Model.Restaurant.Location</div>
<div>Cuisine: @Model.Restaurant.Cuisine</div>

@if (TempData["commit"]!=null)
{
    <div class="alert alert-info">@TempData["commit"]</div>
}
<a class="btn btn-primary" asp-page="./List">All Restaurants</a>
